.piece-set-fantasy piece.pawn.white,
.piece-set-fantasy .promotion-dialog .pawn.white,
.piece-set-fantasy .promotion-piece-btn.pawn.white {
  background-image: url('../../assets/pieces/fantasy/wP.svg');
}
.piece-set-fantasy piece.bishop.white,
.piece-set-fantasy .promotion-dialog .bishop.white,
.piece-set-fantasy .promotion-piece-btn.bishop.white {
  background-image: url('../../assets/pieces/fantasy/wB.svg');
}
.piece-set-fantasy piece.knight.white,
.piece-set-fantasy .promotion-dialog .knight.white,
.piece-set-fantasy .promotion-piece-btn.knight.white {
  background-image: url('../../assets/pieces/fantasy/wN.svg');
}
.piece-set-fantasy piece.rook.white,
.piece-set-fantasy .promotion-dialog .rook.white,
.piece-set-fantasy .promotion-piece-btn.rook.white {
  background-image: url('../../assets/pieces/fantasy/wR.svg');
}
.piece-set-fantasy piece.queen.white,
.piece-set-fantasy .promotion-dialog .queen.white,
.piece-set-fantasy .promotion-piece-btn.queen.white {
  background-image: url('../../assets/pieces/fantasy/wQ.svg');
}
.piece-set-fantasy piece.king.white,
.piece-set-fantasy .promotion-dialog .king.white,
.piece-set-fantasy .promotion-piece-btn.king.white {
  background-image: url('../../assets/pieces/fantasy/wK.svg');
}
.piece-set-fantasy piece.pawn.black,
.piece-set-fantasy .promotion-dialog .pawn.black,
.piece-set-fantasy .promotion-piece-btn.pawn.black {
  background-image: url('../../assets/pieces/fantasy/bP.svg');
}
.piece-set-fantasy piece.bishop.black,
.piece-set-fantasy .promotion-dialog .bishop.black,
.piece-set-fantasy .promotion-piece-btn.bishop.black {
  background-image: url('../../assets/pieces/fantasy/bB.svg');
}
.piece-set-fantasy piece.knight.black,
.piece-set-fantasy .promotion-dialog .knight.black,
.piece-set-fantasy .promotion-piece-btn.knight.black {
  background-image: url('../../assets/pieces/fantasy/bN.svg');
}
.piece-set-fantasy piece.rook.black,
.piece-set-fantasy .promotion-dialog .rook.black,
.piece-set-fantasy .promotion-piece-btn.rook.black {
  background-image: url('../../assets/pieces/fantasy/bR.svg');
}
.piece-set-fantasy piece.queen.black,
.piece-set-fantasy .promotion-dialog .queen.black,
.piece-set-fantasy .promotion-piece-btn.queen.black {
  background-image: url('../../assets/pieces/fantasy/bQ.svg');
}
.piece-set-fantasy piece.king.black,
.piece-set-fantasy .promotion-dialog .king.black,
.piece-set-fantasy .promotion-piece-btn.king.black {
  background-image: url('../../assets/pieces/fantasy/bK.svg');
}
