@use '../abstracts/variables' as vars;

:root {
  --eg-chessboard-width: #{vars.$eg-chessboard-width};
  --eg-chessboard-height: #{vars.$eg-chessboard-height};
  --eg-chessboard-flex: #{vars.$eg-chessboard-flex};
  --eg-promo-bg: #{vars.$eg-promo-bg};
  --eg-promo-border-color: #{vars.$eg-promo-border-color};
  --eg-promo-shadow: #{vars.$eg-promo-shadow};
  --eg-promo-btn-bg: #{vars.$eg-promo-btn-bg};
  --eg-promo-btn-border-color: #{vars.$eg-promo-btn-border-color};
  --eg-promo-btn-hover-bg: #{vars.$eg-promo-btn-hover-bg};
  --eg-promo-btn-hover-border: #{vars.$eg-promo-btn-hover-border};
}
